[submodule "scripts"]
	path = scripts
	url = https://github.com/mrjbee/jb-shared-build-scripts.git
[submodule "buildSrc"]
	path = buildSrc
	url = https://github.com/mrjbee/jb-shared-build-scripts.git
